{{ define "title" }}Ciaocc{{end}}
{{ define "content" }}
<div class="flex-container py-3 container-lg py-3">
        <div class="f-1">
            <div>CATEGORIE</div>
            <ul class="li" style="padding-left: 0;list-style:none;">
                {{ range $key, $node := .}}
                    <li>
                        <a class="link-red" href="{{ $node.Category.LinkSegment }}">{{ $node.Category.Name }}</a>
                    </li>
                    {{ if $node.HasChildren }}
                    <li>
                        <ul style="list-style: none;">
                            {{ range $cKey, $cNode := $node.Children }}
                            <li>
                                <a class="link-red" href="{{ $cNode.Category.LinkSegment }}">{{ $cNode.Category.Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="f-3">
            <div style="font-weight: 300;">
                Sei nella categoria
            </div>
            <div style="font-size: 2em;">
                SPADE
            </div>
        </div>
</div>
    {{ end }}