<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ template "title" . }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {{ block "css" . }}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  {{ end }}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    {{ block "header" . }}
    <div id="main-topbar" class="flex-container flex-space-between px-3 container-lg">
        <div class="f-3">
            <ol class="inline-menu inline-menu-flat inline-menu-blue mx-3">
                <li><a href="#">Home</a></li>
                <li><a href="#">Categorie</a></li>
            </ol>
        </div>
        <div class="f-1">
            Private zone
        </div>
    </div>
    {{ end }}
    {{ template "content" . }}
</body>
</html>
